.App {
  text-align: center;
}

.card{
	display: flex;
	flex-direction: row;
	border: 5px solid blue;
	width: 550px;
}
.imgCard{
	background-color: lightgreen;
	width: 150px;
	height: 150px;
}
.titleDeed{
	background-color: limegreen;
	width: 400px;
	height: 60px;
}
.description{
	background-color: lawngreen;
	width: 400px;
	height: 90px;
}